RewriteEngine On
RewriteBase /
#RewriteRule ^.*$ index.php [END]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]
#RewriteRule ^(.*)$ index.php/$1 [L]
